.dice {
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 8px 10px;
    margin-bottom: 10px;
    width: 15%;
}

.dice-img {
    height: 60px;
    width: auto;
}